Programming/WebserviceActionTrackingSystem2007/finalProject/ActionTrackingSystem/wsdl/Task.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://actionTracking.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://actionTracking.com" xmlns:intf="http://actionTracking.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://actionTracking.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getOwnerName">
    <complexType/>
   </element>
   <element name="getOwnerNameResponse">
    <complexType>
     <sequence>
      <element name="getOwnerNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setOwnerName">
    <complexType>
     <sequence>
      <element name="ownerName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setOwnerNameResponse">
    <complexType/>
   </element>
   <element name="getTaskID">
    <complexType/>
   </element>
   <element name="getTaskIDResponse">
    <complexType>
     <sequence>
      <element name="getTaskIDReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setTaskID">
    <complexType>
     <sequence>
      <element name="taskID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setTaskIDResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getTaskIDRequest">

      <wsdl:part element="impl:getTaskID" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setOwnerNameRequest">

      <wsdl:part element="impl:setOwnerName" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTaskIDResponse">

      <wsdl:part element="impl:getTaskIDResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setTaskIDRequest">

      <wsdl:part element="impl:setTaskID" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOwnerNameRequest">

      <wsdl:part element="impl:getOwnerName" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOwnerNameResponse">

      <wsdl:part element="impl:getOwnerNameResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setTaskIDResponse">

      <wsdl:part element="impl:setTaskIDResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setOwnerNameResponse">

      <wsdl:part element="impl:setOwnerNameResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Task">

      <wsdl:operation name="getOwnerName">

         <wsdl:input message="impl:getOwnerNameRequest" name="getOwnerNameRequest"/>

         <wsdl:output message="impl:getOwnerNameResponse" name="getOwnerNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setOwnerName">

         <wsdl:input message="impl:setOwnerNameRequest" name="setOwnerNameRequest"/>

         <wsdl:output message="impl:setOwnerNameResponse" name="setOwnerNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTaskID">

         <wsdl:input message="impl:getTaskIDRequest" name="getTaskIDRequest"/>

         <wsdl:output message="impl:getTaskIDResponse" name="getTaskIDResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setTaskID">

         <wsdl:input message="impl:setTaskIDRequest" name="setTaskIDRequest"/>

         <wsdl:output message="impl:setTaskIDResponse" name="setTaskIDResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TaskSoapBinding" type="impl:Task">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getOwnerName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOwnerNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOwnerNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setOwnerName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setOwnerNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setOwnerNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTaskID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTaskIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTaskIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setTaskID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setTaskIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setTaskIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TaskService">

      <wsdl:port binding="impl:TaskSoapBinding" name="Task">

         <wsdlsoap:address location="http://localhost:8080/ActionTrackingSystem/services/Task"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
